<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/header.ejs %></head>
<style>
    iframe {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 400px;
        width: 100%;
    }
</style>
<body>
    <div class="page-wrapper">
        <% include ../partials/nav.ejs %>
        <div class="container">

            <div class="page-header text-center">
                <h1><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Admin Dashboard</h1>
            </div>
            <div class="row">
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Your Info</h3>
                        <p>
                            <strong>Admin ID</strong>: <%= user._id %><br>
                            <strong>Name</strong>: <%= user.local.firstName %> <%= user.local.lastName %><br>
                            <strong>E-mail</strong>: <%= user.local.email %>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Your Cases</h3>
                        <p>
                        <% user.employer.forEach(function(employer) { %>
                        <a href="/<%= user._id %>/<%= employer._id %>"><%= employer.empname %></a>   <br>
                        <% }); %>
                        </p>
                        <p>
                            <a href="/profile/case" class="btn btn-default"> Add New Case</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendar</h3>
                        <p>
                            <iframe src="https://calendar.google.com/calendar/embed?src=acainsuresme%40gmail.com&ctz=America/Chicago" style="border: 0" frameborder="0" scrolling="yes"></iframe>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> All Cases</h3>
                        <p>
                        <% users.forEach(function(users) { %>
                            <% users.employer.forEach(function(employers) { %>
                            <a href="/<%= users._id %>/<%= employers._id %>"><%= employers.empname %></a>   <br>
                            <% }); %>
                        <% }); %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Employee Search</h3>
                        <p>
                        <form class="form-inline" action="/search" method="post">
                            <div class="form-group">
                                <input type="search" name="search" class="form-control" id="search">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Search</button>
                            </div>
                        </form>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> All Agents</h3>
                        <p>
                        <% users.forEach(function(users) { %>
                        <!--
                        <a href="/<%= user._id %>/<%= users._id %>/<%= users.local.firstName %>/<%= users.local.lastName %>"><%= users.local.firstName + " " + users.local.lastName %></a> <br>
                        -->
                        <p><%= users.local.firstName + " " + users.local.lastName %></p>
                        <% }); %>
                        </p>
                    </div>
                </div>
            </div>
            <a href="https://aca-benefits-help.herokuapp.com/" target="_blank">
                <i class="fa fa-question-circle fa-3x" style="position:fixed; top:92%; right:2%; color:#1abc9c;"></i>
            </a>
        </div>
    </div>
    <% include ../partials/footer.ejs %>

</body>
</html>